<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js" integrity="sha512-EmNxF3E6bM0Xg1zvmkeYD3HDBeGxtsG92IxFt1myNZhXdCav9MzvuH/zNMBU1DmIPN6njrhX1VTbqdJxQ2wHDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.css" integrity="sha512-EDXaYrpumQKF+Ic8nuEsgJWBwMOhgwWvNINclFu91nx5VR4MeZ5xlUvyRaYQJTMImwbXSeDjtZMtTs8EB65Z0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/stackoverflow-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>


    <style>
      @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
    </style>

    <title>My Platform</title>
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
    <header class="navbar navbar-light fixed-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="{{ url_for('home') }}"> <img class="navbar-logo" src="" ><strong>My Platform</strong></a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h5 class="col-md-3 col-lg-8 me-0 pt-3">{{ 'Dashboard' if request.path == url_for('dashboard') }}{{ 'Profile' if request.path == url_for('onboard_success') }}{{ 'Cards' if request.path == url_for('cards_view') }}{{ 'Profile' if request.path == url_for('profile') }}</h5>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#"><span data-feather="help-circle" class="align-text-bottom"></span><span data-feather="bell" class="align-text-bottom"></span></a>
        </div>
      </div>
    </header>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if request.path == url_for('dashboard') }}" aria-current="page" href="{{ url_for('dashboard') }}?LEMid={{ request.args['LEMid'] }}">
              <span data-feather="home" class="align-text-bottom"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if request.path == url_for('cards_view') }}" href="{{ url_for('cards_view')}}?LEMid={{ request.args['LEMid'] }}">
              <span data-feather="credit-card" class="align-text-bottom"></span>
              Cards
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if request.path == url_for('profile') }}" href="{{ url_for('profile')}}?LEMid={{ request.args['LEMid'] }}">
              <span data-feather="user" class="align-text-bottom"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('onboard_success')}}?LEMid={{ request.args['LEMid'] }}">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Business account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Reports
            </a>
          </li>
        </ul>
        <footer class="fixed-bottom col-md-3 col-lg-2 nav-menu-footer">
          <section class="nav-footer-switcher">
            <button class="btn btn-dark btn-sm api-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" role="button">API Calls</button>
            <!-- <div class="form-check form-switch">
              <label class="form-check-label theme-switcher-label" for="flexSwitchCheckDefault">Dev</label>
              <input class="form-check-input theme-switch" type="checkbox" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" role="switch" id="flexSwitchCheckDefault">
            </div> -->
          </section>
        </footer>
      </div>
    </nav>

        <div class="container pt-5 mt-3">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="row">
              <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% for category, message in messages %}
                  {% if category == 'danger' %}
                  <div class="app-flash-banner alert alert-danger d-flex flex-column flex-sm-row align-items-center align-items-sm-start text-center text-sm-start border border-2 border-danger shadow py-3 mb-3 mx-auto" role="alert">
                    <svg class="bi flex-shrink-0 mb-2 mb-sm-0 me-sm-3" width="28" height="28" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div class="fs-6 flex-grow-1"><strong class="d-block mb-1">Cannot create card</strong> {{ message }}</div>
                  </div>
                  {% else %}
                  <div class="app-flash-banner alert alert-{{ category }} mb-3 mx-auto" role="alert">{{ message }}</div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endwith %}
          {% block content %} {% endblock %}
        </div>



        <div class="offcanvas codecanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">API Calls</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              {% if session['blReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    POST /businessLines (issuing) request
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['blReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['blRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    POST /businessLines (issuing) response
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['blRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session.get('blPaymentReq') %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingBlPayReq">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBlPayReq" aria-expanded="false" aria-controls="flush-collapseBlPayReq">
                    POST /businessLines (paymentProcessing) request
                  </button>
                </h2>
                <div id="flush-collapseBlPayReq" class="accordion-collapse collapse" aria-labelledby="flush-headingBlPayReq" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['blPaymentReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session.get('blPaymentRes') %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingBlPayRes">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBlPayRes" aria-expanded="false" aria-controls="flush-collapseBlPayRes">
                    POST /businessLines (paymentProcessing) response
                  </button>
                </h2>
                <div id="flush-collapseBlPayRes" class="accordion-collapse collapse" aria-labelledby="flush-headingBlPayRes" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['blPaymentRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['leReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    POST /legalEntities request
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['leReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['leRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    POST /legalEntities response
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['leRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['ahReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    POST /accountHolders request
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['ahReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['ahRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    POST /accountHolders response
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['ahRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['baReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    POST /balanceAccounts request
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['baReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['baRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEight">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    POST /balanceAccounts response
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['baRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['hoReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingNine">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    POST /onboardingLinks request
                  </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['hoReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['hoRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    POST /onboardingLinks response
                  </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['hoRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['stReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEleven">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                    POST /stores request
                  </button>
                </h2>
                <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['stReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['stRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwelve">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                    POST /stores response
                  </button>
                </h2>
                <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['stRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['piReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThirteen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                    POST /cards request
                  </button>
                </h2>
                <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['piReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['piRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFourteen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                    POST /cards response
                  </button>
                </h2>
                <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['piRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['pmReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFifteen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
                    POST /paymentMethodSettings request
                  </button>
                </h2>
                <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['pmReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['pmRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSixteen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
                    POST /paymentMethodSettings response
                  </button>
                </h2>
                <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['pmRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['pmReq2'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeventeen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
                    POST /paymentMethodSettings request
                  </button>
                </h2>
                <div id="flush-collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['pmReq2'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['pmRes2'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEighteen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
                    POST /paymentMethodSettings response
                  </button>
                </h2>
                <div id="flush-collapseEighteen" class="accordion-collapse collapse" aria-labelledby="flush-headingEighteen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['pmRes2'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['pmReq3'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingNineteen">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineteen" aria-expanded="false" aria-controls="flush-collapseNineteen">
                    POST /paymentMethodSettings request
                  </button>
                </h2>
                <div id="flush-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingNineteen" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['pmReq3'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['pmRes3'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwenty">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwenty" aria-expanded="false" aria-controls="flush-collapseTwenty">
                    POST /paymentMethodSettings response
                  </button>
                </h2>
                <div id="flush-collapseTwenty" class="accordion-collapse collapse" aria-labelledby="flush-headingTwenty" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['pmRes3'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['keyRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwentyOne">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyOne" aria-expanded="false" aria-controls="flush-collapseTwentyOne">
                    GET /publicKey?purpose=panReveal response
                  </button>
                </h2>
                <div id="flush-collapseTwentyOne" class="accordion-collapse collapse" aria-labelledby="flush-headingTwentyOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['keyRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['revealReq'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwentyTwo">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyTwo" aria-expanded="false" aria-controls="flush-collapseTwentyTwo">
                    POST /paymentInstruments/reveal request
                  </button>
                </h2>
                <div id="flush-collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwentyTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['revealReq'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if session['revealRes'] %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwentyThree">
                  <button class="accordion-button adl-accordion__title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyThree" aria-expanded="false" aria-controls="flush-collapseTwentyThree">
                    POST /paymentInstruments/reveal response
                  </button>
                </h2>
                <div id="flush-collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwentyThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <pre id="json" class="adl-code-sample">
                      <code id="json" class="adl-code-sample__code-block language-json">{{ session['revealRes'] }}</code>
                    </pre>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>


    <!-- <nav id="code-sidebar" class="order-last code-sidebar">
      <div class="api-explorer-collapse">
        <button class="col-btn" type="button" id="sidebarCollapse"></button>
      </div>
      <div class="api-explorer-content">
        <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">API Calls</a>
        <div class="adl-accordion adl-accordion--max-height-transition">
          <div class="adl-accordion__item adl-accordion__item--open">
            <div class="adl-accordion__header" tabindex="0" role="button" aria-expanded="true">
              <i class="adl-accordion__toggle adl-icon-chevron-up"></i>
            </div>
          </div>
        </div>
         <ul>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse">/legalEntities Request</button>
            <div class="collapse show" id="home-collapse">
              <pre class="adl-code-sample">
                <code class="adl-code-sample__code-block">{"additionalData":{"card.encrypted.json":"adyenjs_0_1_4p1$..."},"amount":{"value":20000,"currency":"USD"},"reference": "YOUR REFERENCE HERE","merchantAccount": "TestMerchant"}</code>
              </pre>
            </div>
          </li>
        </ul> 
      </div>
    </nav> -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.2.0/swiper-bundle.min.js" integrity="sha512-QwpsxtdZRih55GaU/Ce2Baqoy2tEv9GltjAG8yuTy2k9lHqK7VHHp3wWWe+yITYKZlsT3AaCj49ZxMYPp46iJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const swiper = new Swiper(".mySwiper", {
        effect: "creative",
        focusableElements: 'h4',
        noSwipingSelector: 'h4',
        slideToClickedSlide: true,
        creativeEffect: {
          prev: {
            // will set `translateZ(-400px)` on previous slides
            translate: ['-50px', 0, 0],
            scale: 0.9
          },
          next: {
            // will set `translateX(100%)` on next slides
            translate: ['50px', 0, 0],
            scale: 0.9
          },
          progressMultiplier: 1,
          limitProgress: 3
        }
      });
    </script>
    <script src="../static/js/front-end-logic.js"></script>
    <script>hljs.highlightAll();</script>
  </div>
  </body>
</html>
